@model EjemploAjaxActionLink.Models.DtoUsuario


<div class="alert-info">

    <p>Id usuario:<span>@Model.IdUsuario</span></p>
    <p>Usuario:<span>@Model.Usuario</span></p>
    <p>fFecha alta:<span>@Model.FechaAlta</span></p>


</div>
