@model EjemploAjaxActionLink.Models.UsuarioViewModel


@using (Ajax.BeginForm("GuardarUsuarioEditado",new AjaxOptions()
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "usuarioeditado"
}))
{
    @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.FechaAlta, new { @class = "form-control", @type = "date", @Value = Model.FechaAlta.ToString("yyyy-MM-dd") })
    <br />
    
    <input type="submit" class="btn btn-success" />
}
<br />
<span id="usuarioeditado" class="alert-success"></span>